* {
    background-image: none;
    font-family: sans-serif;
}

window {
    background-color: rgba(20, 20, 20, 0.9);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    background-color: #282a36;
    border-radius: 20px;
    color: #f8f8f2;
    border: 2px solid #44475a;
    padding: 20px;
    margin: 15px;
    font-size: 18px;
}

button:focus,
button:hover {
    background-color: #44475a;
    border-color: #bd93f9;
}

button:active {
    background-color: #bd93f9;
    border-color: #ff79c6;
}

#lock {
    margin: 10px;
    border-radius: 20px;
    background-image: url("/usr/share/wlogout/icons/lock.png");
}

#hibernate {
    margin: 10px;
    border-radius: 20px;
    background-image: url("/usr/share/wlogout/icons/hibernate.png");
}

#logout {
    margin: 10px;
    border-radius: 20px;
    background-image: url("/usr/share/wlogout/icons/logout.png");
}

#shutdown {
    margin: 10px;
    border-radius: 20px;
    background-image: url("/usr/share/wlogout/icons/shutdown.png");
}

#suspend {
    margin: 10px;
    border-radius: 20px;
    background-image: url("/usr/share/wlogout/icons/suspend.png");
}

#reboot {
    margin: 10px;
    border-radius: 20px;
    background-image: url("/usr/share/wlogout/icons/reboot.png");
}
